<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @twit.tittle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @twit.content %>
</p>

<%= link_to 'Edit', edit_twit_path(@twit) %> |
<%= link_to 'Back', twits_path %>
